<main>
  <p> 君の笑いの力を示せ！ </p>
  <p>その場で撮る、その場で即大喜利しか出来ないという縛りをあえて与えることでより笑いが生まれるをコンセプトに作られたアプリです</p>
  <p>画像</p>
  <p>画像</p>
  <p>画像</p>
  <p>このように面白いアプリとなっております</p>
  <p>
    <%= link_to "初めての方はこちら", "#" %>
  </p>
</main>
<footer>
  <p>Copyright © 2021 omosiro corporation Inc. All Rights Reserved.</p>
</footer>