@import "bootstrap";

body {
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    background-image: image-url('koruku.jpg');
}

header > p {
    text-align: center;
    font-size: 20px;
}


main, footer {
    text-align: center;
}


main {
    flex: 1;
    color: black;
}

.container {
    background-image: image-url('photo.jpg');
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
}


.post-image {
    object-fit: contain;
}


.hidden_box {
    margin: 2em 0;
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}


.hidden_box label:hover {
    background: #efefef;
}


.hidden_box input {
    display: none;
}


.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}


.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}


footer {
    color: gray;
    height: 60px;
    padding: 15px;
}