@import "bootstrap";

body {
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    background-image: image-url('koruku.jpg');
}


main, footer {
    text-align: center;
}


main {
    flex: 1;
    color: black;
}

.container {
    background-image: image-url('photo.jpg');
    padding-top: 10px;
    margin-top: 10px;
}


footer {
    color: gray;
    height: 60px;
    // background-image: image-url('top.jpg');
    padding: 15px;
}